# Python
__pycache__/
*.pyc

# Airflow logs
airflow/logs/
logs/

# Environnements virtuels
.venv/
venv/
ENV/

# Credentials
.env

# dbt artifacts
target/
dbt_packages/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
